<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Управление сайтами</name>
        <description multilanguage="true">Добавление, изменение сайтов в системе</description>
        <version>2.0.0.25</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>        
    </defaultValues>
</config>