<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>    
        <name multilanguage="true">Уведомления</name>
        <description multilanguage="true">Отправка e-mail и sms уведомлений</description>        
        <version>2.0.0.23</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>
        <sms_sender_class>smsuslugi</sms_sender_class>
    </defaultValues>
</config>